<h3>Customeres</h3>
<hr>
<div>All the customers will be displayed here</div>
<br>
<br>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae saepe facere, minus numquam rerum, dolorem similique! Unde odit, corrupti delectus saepe sapiente aliquid accusantium veniam, temporibus laudantium vero, rem optio.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe fuga corporis, eos pariatur, iure aut odio deleniti reprehenderit beatae placeat, repellat similique et enim. Tempore, ducimus! Hic consequatur doloremque, fuga.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, nam enim unde dolore aspernatur excepturi labore cumque quasi aliquid expedita dignissimos quia! Nisi, vitae, ratione veniam adipisci doloribus maxime facere.</div>
